
/* Basic body styling */
body {
  margin: 0;
  font-family: Arial;
  background-image: url("../image/backGrd.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Fixed button with an image */
.button1 {
  width: 10vw;
  height: 9vh;
  position: absolute;
  top:2vh;
  right: 2vw;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #6d034d;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  margin-top: 0px;
  background-image: url("../image/home-icon.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.button1:hover {
  background-color: #8a0258;
}

.button1:active {
  background-color: #840651;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Fixed position for center container */
.center-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: white; /* White background for the container */
  margin-top: 0px; /* Space from the top */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  position: relative; /* Fixed positioning to stay on the screen */
  top: 2vh; /* Space from the top of the viewport */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 80vw;
  max-width: 70vw; /* Set a maximum width */
  overflow: hidden; /* Hide overflow to keep animation contained */
}
.center-container img {
  width: 10vw;
  height: auto; /* Ensure the image maintains its aspect ratio */

}

.center-container h2 {
  color: #840737;
  font-size: 2em;
}

/* Fixed position for row container */
.row {
  position: relative; /* Keep row fixed */
  top: 40px; /* Adjust to desired vertical position */
  left: 0;
  width: 100%;
  display: flex;
  overflow: hidden; /* Hide overflow to show only visible part */
  background-color: white; /* Background color of the row */
  margin-top: 0px;
}

/* Container for moving images */
.image-wrapper {
  display: flex;
  animation: moveLeftToRight 8s linear infinite;
}

/* Style for image columns */
.column {
  flex: 0 0 auto;
  padding: 10px;
}

.column img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 8px; /* Round the corners of images */
}

.column img:hover {
  opacity: 0.8;
}

/* Keyframes for animation */
@keyframes moveLeftToRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Full-screen container for modal */
.container {
  position: relative; /* Cover the full viewport */
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay background */
  display: none; /* Hide by default */
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container img {
  max-width: 90%; /* Scale down if too large */
  max-height: 90%; /* Scale down if too large */
  border: 2px solid black; /* Add border to expanded image */
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  gap:10px;
  position: relative;
  top: 60px
}
.input-container label{
  font-size: 24px;
  font-weight: bold;
}
.input-container label, .input-container select, .input-container input {
  margin-bottom: 10px;
}

.input-container button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(19, 128, 143);
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  margin: 5px;
}

.input-container button:hover {
  background-color: #17a2b8;
}

.input-container button:active {
  background-color: #117a8b;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.quantity {
  font-size: 16px;
  padding: 5px 15px;
}

.input-group {
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.input-group input {
  font-size: 16px;
  padding: 5px 10px;
}

.input-group button {
  font-size: 16px;
  padding: 5px 10px;
}

#totalAdults {
  font-size: 18px;
  margin-top: 10px;
}

.button2 {
  margin: 20px auto; /* Space around the button and center it horizontally */
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: block; /* Ensures the button takes the full width available if needed */
  max-width: 200px; /* Optional: maintain a maximum width */
}

.button2:hover {
  background-color: #3e8e41;
}

.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
}

.section-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.custom-select {
  position: relative;
  font-family: Arial;
  width: 200px;
}

/* Hide the original SELECT element */
.custom-select select {
  display: none;
}

/* Style the selected item */
.select-selected {
  background-color: #2E8B57;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
}

/* Style the arrow inside the select element */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: white; /* White arrow */
}

/* Point the arrow upwards when the select box is open (active) */
.select-selected.select-arrow-active:after {
  border-top-color: transparent;
  border-bottom-color: white;
  top: 7px;
}

/* Style the items (options), including the selected item */
.select-items {
  position: absolute;
  background-color: #2E8B57;
  border-radius: 3px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed */
.select-hide {
  display: none;
}

/* Style items on hover and selected item */
.select-items div {
  color: white;
  padding: 8px 16px;
  border: 1px solid black; /* Black border */
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

/* Style items on hover and selected item */
.select-items div:hover, .same-as-selected {
  background-color: #3CB371; /* Lighter green for hover effect */
}

.box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px 20px 20px 20px;
  width: 50vw;
  border-radius: 0.5rem;
  display: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  font-size: 20px;
  font-weight: bold;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



/* Mobile Devices (up to 1024px) */

@media (max-width:1024px){
  .button1{
    right:0.8vw;
    width: 10vw;
    height: 8vh;
  }
  .center-container {
    left:45%;
  }
  .center-container img{
    width:12vw ;
  }
  .center-container h2{
    font-size: 2em;
    font-weight: bold;
  }

}

/* Tablets (600px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .button1{
    right:0.8vw;
    width: 15vw;
    height: 7vh;
  }

  .center-container h2{
    font-size:1.5em;
  }
  .center-container img{
    width: 12vw;
  }

  .center-container {
    margin-top: 3px;
    max-width: 65%;
    padding: 10px;
  }

  .row {
    top: 30px; /* Adjust vertical spacing */
  }

  .column img {
    height: 180px;
  }

  .input-container button {
    font-size: 15px;
    padding: 9px 18px;
  }
  .input-group button {
    font-size: 16px;
    padding: 5px 10px;
  }
  .button2 {
    padding: 12px 22px;
    font-size: 18px;
  }
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-180%);
    }
  }
  .box-content{
    width:70vw;
  }
}


/* Large Screens (greater than 900px) */
@media (min-width: 471px) and (max-width:600px) {
  .button1 {
    width:11vw ;
    height:6vh ;
  }

  .center-container {
    max-width: 800px;
  }
  .center-container h2{
    font-size: 1.2em;
  }
  .center-container img{
    width: 12vw;
  }

  @keyframes moveLeftToRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
  .box-content{
    width:80vw;
  }
}

@media (max-width:470px){
  .button1{
    width: 18vw;
    height: 6vh;
  }
  .center-container {
    left:43%;
  }
  .center-container img{
    width:10vw ;
  }
  .center-container h2{
    font-size: 1em;
  }
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-400%);
    }
  }
  .box-content{
    width:80vw;
  }
}
@media (max-width:328px){
  .button1{
    width: 18vw;
    height: 5vh;
  }
  .center-container {
    left:40%;
  }
  .center-container img{
    width:17vw ;
  }
  .center-container h2{
    font-size: 0.8em;
    font-weight: bold;
  }
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-470%);
    }
  }
  .box-content{
    width:85vw;
  }
}
/* @media (min-width: 329px) {
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(100%);
    }
    100% {

      transform: translateX(-100%);
    }
  }
} */



